/* ==========================================================================
   IMPORTING GOOGLE FONTS
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');


/* ==========================================================================
   NORMALIZING AND RESETING CSS
   ========================================================================== */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


/* ==========================================================================
   BODY STYLES
   ========================================================================== */
body{
  background-color: #fff;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  height: 100vh;
  overflow: hidden;
}


/* ==========================================================================
   MAIN STYLES
   ========================================================================== */
.App{
  max-width: 400px;
  width: 100%;
  margin: auto;
  background-color: #fff;
  border-radius: 16px;
  font-size: 15px;
  overflow: hidden;
  color: #455963;
  box-shadow: 0 20px 80px rgba(0,0,0,.3);
}


/* ==========================================================================
   HEADER STYLES
   ========================================================================== */
.app-header{
  height: 35px;
  text-align: center;
  box-shadow: 0 20px 80px rgba(0,0,0,.3);
}

.app-header-intro{
  color: #AEC9FF;
  font-size: 16px;
  font-weight: bold;
  padding-top: 5px;
}


/* ==========================================================================
   CALENDAR STYLES
   ========================================================================== */
.calendar{
  margin: 10px auto;
  width: 90%;
}
.calendar-box{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #b993d6, #8ca6db);
  height: 100px;
  border-radius: 5px;
}

.calendar-box-date{
  color: #fff;
  font-size: 26px;
  font-weight: bold;;
}


/* ==========================================================================
   ADDING TASKS SECTION STYLES
   ========================================================================== */
.to-do-form input{
  background: linear-gradient(to right, #b993d6, #8ca6db);
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size:18px;
  border-radius: 10px;
  color: #fff;
}

.to-do-form input::placeholder{
  color: #fff;
}

.to-do-form input:focus{
  outline: none;
}

.to-do-form button{
  height: 50px;
  width: 100px;
  border-radius: 5px;
  border: 0;
  background: linear-gradient(to right, #b993d6, #8ca6db);
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}